<% blogs.forEach(function(blog, index){
    if(index % 3 == 0){ %>
        <div class="row">
    <% } %>
            <div class="span4">
                <h2><a href="/u/<%= blog.username %>"><%= blog.username %></a>說</h2>
                <p><small><%= blog.time %></small></p>
                <p><%= blog.content %></p>
            </div>
    <%if(index % 3 == 2){%>
        </div>
    <% } %>
<%})%>

<% if(blogs.length %3 !=0){%>
        </div>
<% } %>