
    <div class = 'hello-unit'>
        <h1>欢迎来到Microblog</h1>
        <p>Microblog 是一個基於 Node.js 的微博系統。</p>
        <p>
            <a class='btn btn-primary btn-large' href="/login">登录</a>
            <a class='btn btn-large' href="/reg">注册</a>
        </p>
    </div>