<form class='form-horizontal' method="post">
    <fieldset>
        <legend>發表博客</lengend>
            <div class="control-group">
                <label class="control-label" for="title">標題</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="title" name="title"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="content">博文內容:</label>
                <div class="controls">
                    <textarea class="input-xlarge" id = "content" name = "content" ></textarea>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">發表</button>
            </div>
    </fieldset>
</form>