<!DOCTYPE html>
<html>
  <head>
    <title><%= curr_time %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= curr_time %></h1>
    <p>Welcome to <%= curr_time %></p>
  </body>
</html>